---
import Base from "@/layouts/Base.astro";
import CustomButton from "@/components/CustomButton.astro";
---

<Base title="Página no encontrada" disableTagline={true} fitToScreen={false}>
  <section>
    <div class="container">
      <div class="flex flex-col items-center gap-y-10">
        <div class="space-y-4 text-center text-lg">
          <h1 class="text-8xl font-bold sm:text-9xl md:text-[16rem]">404</h1>
          <h2 class="text-h1-sm md:text-h1">Parece que aquí no hay nada…</h2>
          <p>Pero tenemos muchas cosas geniales que mostrarte.</p>
        </div>
        <CustomButton
          hoverEffect="creative-fill"
          class="effect-color-accent uppercase"
          label="Volver al inicio"
          url="/"
        />
      </div>
    </div>
  </section>
</Base>
